<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
<header th:replace="fragments :: navigator"></header>
<main role="main" class="main">
    <center>
        <h1 class="display-4">BookLent List</h1>
        <table class="table table-borderless table-dark col-md-10 table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date of Lent</th>
                <th scope="col">Date of Return</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bookLent : ${bookLents}">
                <th scope="row" th:text="${bookLent.getId()}"></th>
                <td th:text="${bookLent.getBook().getTitle()}"></td>
                <td th:text="${#temporals.format(bookLent.getDateLent(), 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${#temporals.format(bookLent.getDateReturned(), 'dd-MM-yyyy HH:mm')}"
                    th:if="${bookLent.getDateReturned() != null}"></td>
                <td class="alert alert-dark" role="alert"
                    th:if="${bookLent.getDateReturned() == null }"><h3>Not returned</h3></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a th:href="@{'/booklent/return/'+${bookLent.getId()}}" class="btn btn-warning" role="button">Return</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
    <div class="row col-md-12">
        <div class="offset-6 col-md-6">
            <a th:href="@{${referer}}">
                <button type="button" class="btn btn btn-light offset-7 col-md-3">Back</button>
            </a>
        </div>
    </div>

</main>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: footerscripts"></div>
</body>
