<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
    <meta charset="UTF-8">
    <title>La Biblioteca de Tequila</title>
</head>
<body>
<header th:replace="fragments :: navigator"></header>
<main role="main" class="mainIndex">
    <center>
        <img th:src="@{/la.png}" class="img-fluid" alt="Responsive image">
    </center>


</main>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: footerscripts"></div>
</body>
</html>