<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
    <meta charset="UTF-8">
    <title>Publishing House List</title>
</head>
<body>
<header th:replace="fragments :: navigator"></header>
<main role="main" class="main">
    <center>
        <h1 class="display-4">Publishing House List</h1>
        <table class="table table-borderless table-dark col-md-7 table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="house : ${publish}">
                <th scope="row" th:text="${house.getId()}"></th>
                <td th:text="${house.getName()}"></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <!--<a th:href="@{'/book/add/'+${house.getId()}}" class="btn btn-info" role="button">Add Book</a>-->
                        <a th:href="@{'/ph/delete/'+${house.getId()}}" class="btn btn-warning" role="button">Delete</a>
                        <a th:href="@{'/ph/edit/'+${house.getId()}}" class="btn btn-primary" role="button">Edit</a>
                        <a th:href="@{'/ph/'+${house.getId()}+'/books'}"
                           th:if="${house.getBooks().size()>0}" class="btn btn-secondary" role="button">List
                            Books</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
    <div class="row col-md-12">
        <div class="offset-6 col-md-6">
            <a th:href="@{${referer}}">
                <button type="button" class="btn btn btn-light offset-4 col-md-3">Back</button>
            </a>
        </div>
    </div>

</main>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: footerscripts"></div>
</body>
</html>